@tailwind base;
@tailwind components;
@tailwind utilities;

/* put back some default styles */
main a, header a {
    color: #4128ff;
}

main p {
    padding: 0.5rem;
}
main ul {
    list-style-type: square;
    margin: 0.5rem 1rem 0.5rem 2rem;
}
nav ol {
    list-style-type: decimal;
    margin: 0.5rem 1rem 0.5rem 2rem;
}

pre {
    background-color: #f5f5f5;
    padding: 1rem;
    margin: 1rem 0;
    overflow-x: auto;
}

header h1 {
    color: #333333;
}

* {
    /* times new roman BE GONE */
    /* font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; */
    font-family: 'Open Sans';
}

main h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
    color: #CC4141;
}

h1 {
    font-size: 2.5rem;
}
h2 {
    font-size: 2.0rem;
}
h3 {
    font-size: 1.5rem;
    margin-top: 1rem;
}
h4 {
    font-size: 1rem;
}

.active {
    font-weight: bold;
    color: #CC4141;
}